*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.img-jogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-jogo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.feedback-step1 select {
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #e5e5e5;
    font-size: 1rem;
    width: 300px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}
.feedback-form {
    margin-top: 2rem;
    background-color: ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feedback-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    margin: 0 auto;
}

.feedback-form form label {
    color: #fff;
    font-weight: 500;
}

.feedback-form form input,
.feedback-form form select,
.feedback-form form textarea {
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #e5e5e5;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.feedback-form form input[type="file"] {
    padding: 10px;
    background-color: #e5e5e5;
    color: #333;
}

.feedback-form form button {
    background-color: #873398;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5%;
    transition: background 0.3s;
}

.feedback-form form button:hover {
    background-color: #682575;
}
.footer{
    margin-top: 5%;
}
.agradecimento {
    background-color: #e5e5e5;
    padding: 2rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    max-width: 500px;
    margin: 3rem auto;
}
.agradecimento p{
    color: #000;
}
