#sobre {
    background-color: #000;
    color: white;
    padding: 60px 80px;
}

.sobre-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.sobre-header h2 {
    font-size: 36px;
    margin: 0;
}

.sobre-logo {
    width: 400px;
    max-width: 80%;
}

.sobre-container {
    margin-top: 40px;
    background-color: #313131;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    position: relative;
}

.equipe-title {
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 30px;
}

.equipe-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.equipe-grid img {
    width: 180px;
    height: 280px;
    object-fit: cover;
    /* mostra o centro da imagem sem distorcer */
    object-position: center;
    border-radius: 12px;
    border: 2px solid white;
    background-color: #000;
    /* evita fundos brancos em PNGs */
}

.nome-membro {
    color: white;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}


.pixel-chars {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pixel-chars img {
    width: 40px;
    height: auto;
}

.sobre-texto {
    margin-top: 50px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sobre-texto h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sobre-texto p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
}

.membro {
    width: 200px;
    height: 300px;
    border: 2px solid white;
    border-radius: 12px;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    flex-direction: row;
}

.membro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    flex-direction: row;
}