:root {
    --primary-purple: #873398;
    --primary-black: #1E1E1E;
    --white: #ffffff;
    --secondary-black: #313131;
    --color-bg: #0F0F0F;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    overflow-x: hidden;
}

@media (min-width: 767PX) {
    /*----------------------------------DESKTOP----------------------------------------*/

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        color: var(--white);
        z-index: 1000;
        transition: background-color;
        box-sizing: border-box;
    }

    .header.scrolled {
        background-color: var(--primary-black);
    }

    .menu-toggle {
        display: none;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
    }

    nav a {
        margin-left: 30px;
        color: white;
        text-decoration: none;
    }

    /* ----------------------------botão nossos jogos-------------------------------- */

    .button {
        line-height: 1;
        text-decoration: none;
        display: inline-flex;
        border: none;
        cursor: pointer;
        align-items: center;
        gap: 0.75rem;
        background-color: var(--clr);
        color: var(--white);
        border-radius: 10rem;
        font-weight: 600;
        padding: 0.75rem 1.5rem;
        padding-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: background-color 0.3s;
    }

    .button__icon-wrapper {
        flex-shrink: 0;
        width: 33px;
        height: 33px;
        position: relative;
        color: var(--clr);
        background-color: var(--white);
        border-radius: 50%;
        display: grid;
        place-items: center;
        overflow: hidden;
    }

    .button:hover {
        background-color: var(--primary-black);
    }

    .button:hover .button__icon-wrapper {
        color: var(--primary-black);
    }

    .button__icon-svg--copy {
        position: absolute;
        transform: translate(-150%, 150%);
    }

    .button:hover .button__icon-svg:first-child {
        transition: transform 0.3s ease-in-out;
        transform: translate(150%, -150%);
    }

    .button:hover .button__icon-svg--copy {
        transition: transform 0.3s ease-in-out 0.1s;
        transform: translate(0);
    }

    /* ------------------------------------------------------------ */


    .hero {
        position: relative;
        height: 450px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        max-width: 100%;
    }

    .hero::after {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
    }

    .slider {
        position: absolute;
        inset: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .slide.active {
        opacity: 1;
    }

    .hero button {
        z-index: 1;
        padding: 1rem 2rem;
        background-color: var(--primary-purple);
        color: white;
        font-size: 1.1rem;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 90%;
        white-space: nowrap;
        flex-shrink: 1;
        flex-wrap: nowrap;
    }

    h2.section-title {
        text-align: center;
        margin: 60px 0 20px;
        font-size: 36px;
    }

    .games-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;  
        width: 100%;
    }

    .game-card {
        position: relative;
        width: 100%;
        max-width: 625px;
        height: 400px;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        border-radius: 12px;
        cursor: pointer;
        margin: 0 auto;
    }

    .game-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.65);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .game-card:hover .overlay {
        opacity: 1;
    }

    .overlay a {
        padding: 10px 20px;
        background-color: white;
        color: black;
        text-decoration: none;
        border-radius: 20px;
        font-weight: bold;
    }

    /*-----------------------FOOTER----------------------*/

    .footer {
        background-color: #1e1e1e;
        color: #ccc;
        padding: 30px 60px;
        font-size: 14px;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-logo {
        font-size: 20px;
        font-weight: bold;
    }

    .footer-logo .light {
        font-weight: 300;
    }

    .social-icons a {
        margin-left: 15px;
        display: inline-block;
    }

    .social-icons img {
        width: 20px;
        height: 20px;
        transition: opacity 0.2s;
    }

    .social-icons img:hover {
        opacity: 0.7;
    }

    .footer hr {
        border: none;
        border-top: 1px solid #555;
        margin: 20px 0;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-bottom a {
        color: #ccc;
        text-decoration: none;
        font-size: 12px;
    }

    .footer-bottom a:hover {
        text-decoration: underline;
    }

}

/*---------------------------------------------------------------------------------------------------*/

@media (max-width: 767px) {
    /*----------------------------------MOBILE----------------------------------------*/

    /*----------------------------------HEADER----------------------------------------*/

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        color: var(--white);
        z-index: 1000;
        transition: background-color;
        box-sizing: border-box;
    }

    .logo img {
        width: 60px;
        height: auto;
    }

    .menu-toggle {
        display: block;
        background: rgba(49, 49, 49, 0.5);
        border: none;
        border-radius: 1rem;
        font-size: 1.5rem;
        color: var(--white);
        cursor: pointer;
        padding: 10px;
        margin: 0;
        z-index: 1100;
    }

    .nav-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--primary-black);
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    .nav-menu a {
        color: var(--white);
        text-decoration: none;
        padding: 0.75rem 0;
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    .header.scrolled {
        background-color: var(--primary-black);
    }

    .nav-menu.active {
        display: flex;
    }

    /*----------------------------------MAIN----------------------------------------*/

    .hero {
        position: relative;
        height: 450px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        max-width: 100%;
    }

    .hero::after {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
    }

    .slider {
        position: absolute;
        inset: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .slide.active {
        opacity: 1;
    }

    .hero button {
        z-index: 1;
        padding: 1rem 2rem;
        background-color: var(--primary-purple);
        color: white;
        font-size: 1.1rem;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 90%;
        white-space: nowrap;
        flex-shrink: 1;
        flex-wrap: nowrap;
    }

    h2.section-title {
        text-align: center;
        margin: 60px 0 20px;
        font-size: 24px;
    }

    .games-grid {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 0 60px 60px;
        flex-wrap: wrap;
    }

    .game-card {
        position: relative;
        width: 300px;
        height: 200px;
        overflow: hidden;
        border-radius: 12px;
        cursor: pointer;
    }

    .game-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.65);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .game-card:hover .overlay {
        opacity: 1;
    }

    .overlay a {
        padding: 10px 20px;
        background-color: white;
        color: black;
        text-decoration: none;
        border-radius: 20px;
        font-weight: bold;
    }

    /*----------------------------------BOTÂO EXPLORE----------------------------------------*/

    .button {
        line-height: 1;
        text-decoration: none;
        display: inline-flex;
        border: none;
        cursor: pointer;
        align-items: center;
        gap: 0.75rem;
        background-color: var(--clr);
        color: var(--white);
        border-radius: 10rem;
        font-weight: 600;
        padding: 0.75rem 1.5rem;
        padding-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: background-color 0.3s;
    }

    .button__icon-wrapper {
        flex-shrink: 0;
        width: 33px;
        height: 33px;
        position: relative;
        color: var(--clr);
        background-color: var(--white);
        border-radius: 50%;
        display: grid;
        place-items: center;
        overflow: hidden;
    }

    .button:hover {
        background-color: var(--primary-black);
    }

    .button__icon-svg--copy {
        position: absolute;
        transform: translate(-150%, 150%);
    }

    .button:hover .button__icon-svg:first-child {
        transition: transform 0.3s ease-in-out;
        transform: translate(150%, -150%);
    }

    .button:hover .button__icon-svg--copy {
        transition: transform 0.3s ease-in-out 0.1s;
        transform: translate(0);
    }

    /*----------------------------------BOTÂO EXPLORE----------------------------------------*/



    /*----------------------------------FOOTER----------------------------------------*/

    .footer {
        background-color: #222;
        color: var(--white);
        text-align: center;
        padding: 1.5rem 1rem;
        font-family: sans-serif;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .footer-logo img {
        width: 3.75rem;
        height: auto;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        gap: 0.75rem;
        flex-wrap: wrap;
    }

    .social-icons a img {
        width: 1.25rem;
        height: 1.25rem;
    }

    footer hr {
        border: none;
        border-top: 1px solid #444;
        margin: 1rem 0;
    }

    .footer-bottom span {
        display: block;
        font-size: 0.75rem;
        margin-bottom: 1rem;
    }

    .footer-bottom a {
        color: var(--white);
        font-size: 0.75rem;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        vertical-align: middle;
    }
}